<style>
  #more {display: none;}
</style>
<ion-header>
  <ion-toolbar class="fond-header">
    <div class="header-items">
      <ion-icon name="arrow-dropleft"></ion-icon>
      <ion-searchbar></ion-searchbar>
      <ion-icon name="options"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
      <img class="image" src="https://imgbbb.com/images/2019/12/18/randonnee.jpg">
    </ion-card-content>

    <ion-card-content>
      <img class="image" src="https://imgbbb.com/images/2019/12/18/randonnee.jpg">
    </ion-card-content>

    <ion-card-content>
      <img class="image" src="https://imgbbb.com/images/2019/12/18/randonnee.jpg">
    </ion-card-content>

    <span id="dots">...</span>
<span id="more">
    <ion-card-content>
      <img class="image" src="https://imgbbb.com/images/2019/12/18/randonnee.jpg">
    </ion-card-content>

    <ion-card-content>
      <img class="image" src="https://imgbbb.com/images/2019/12/18/randonnee.jpg">
    </ion-card-content>
</span>
  <button class="button"  id="myBtn">En voir plus</button>

  <script>
    const myBtn = document.getElementById("myBtn");
    console.log("test");
    function readme() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
    myBtn.addEventListener('click', readme);
  </script>

</ion-content>
