.fond-header
{
    --background:#302D2A;
  }

.header-items
{
  display: flex;
  justify-content: space-around;
  align-items: center ;
}

ion-toolbar{
  padding: 0 !important;
}

ion-icon[name="arrow-dropleft"]
{
  width: 28px;
  height: 25px;
  color:#E0D0C1;
}
ion-searchbar
{
  width: 250px;
  padding: 0;
  --background:#FFFFFF;
}
ion-icon[name="options"]
{
  width: 28px;
  height: 25px;
  color:#E0D0C1;
}

ion-card
{
  border-radius: 4px;
}

ion-card-content
{
  padding: 0 52% 0 0;
}

.image
{
  display:flex;
  border-radius: 4px 0px 0px 4px;
  margin-left:0%;
}

.button {
  position: absolute;
  background-color: #302D2A;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  left: 0;
  right: 0;
  width: 50%;
  margin: auto;
  bottom: 10%;
}
