<ion-content>
  <div class="logo">
    <img src="../../assets/images/coincoins_insolites.svg" alt="Logo CoinCoins Insolite">
  </div>
  <div class="padding">
    <ion-searchbar class= "align-text" type="text" debounce="500" animated="true"
    placeholder="Enter a city" color="dark"
    (ionChange)="search($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let country of countries" (click)="selectCountry($country)">
        {{ country }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
