ion-content{
  --background: none;
  background-image: url(../../assets/images/joel-jasmin-forestbird-znoL1m6MD_k-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo{
  text-align: center;
  width: 70%;
  position: relative;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
}

.padding{
  text-align: center;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100px;
  max-width: 400px;
  min-height: 100px;
}

.align-text{
  text-align: center;
}

.hide{
  visibility: hidden;
.single-post-home {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    box-shadow: 1px 1px rgba(160, 160, 160, 0.453);
}